<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://matto.io/Poligonos" version="1.0.0" viewmodes="maximized">
    <tizen:application id="lyK7tso4tN.Poligonos" package="lyK7tso4tN" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/input.rotating_bezel"/>
    <icon src="polygon.jpg"/>
    <name>Poligonos</name>
    <tizen:profile name="wearable"/>
</widget>
